<section style="min-height:500px;padding-top:0!important;padding-bottom: 50px">
        
    <mat-grid-list cols='2' *ngIf="show; else wait">
        <mat-grid-tile>
            <div class="card" *ngIf="currentEmp">
                <h2>{{ currentEmp.name }}</h2>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>MUD ID</h3>
                        <p matLine>{{ currentEmp.mud_id }} </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>Hiring Date</h3>
                        <p matLine>{{ currentEmp.hiring_date }}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>FLSL</h3>
                        <p matLine>{{ currentEmp.flsl }} </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>SLSL</h3>
                        <p matLine>{{ currentEmp.slsl }} </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>Office/City</h3>
                        <p matLine>{{ currentEmp.office }} </p>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card">
                <h2>Fit for the future:</h2>
                <mat-radio-group aria-label="Select an option" [(ngModel)]='a'>
                    <mat-radio-button color="primary" value="0">1 "Lowest" </mat-radio-button>
                    <mat-radio-button color="primary" value="20">2</mat-radio-button>
                    <mat-radio-button color="primary" value="60">3</mat-radio-button>
                    <mat-radio-button color="primary" value="80">4</mat-radio-button>
                    <mat-radio-button color="primary" value="100">5 "Highest"</mat-radio-button>
                </mat-radio-group>
                <br><hr>
                <h2>Impact on GSK Culture:</h2>
                <mat-radio-group aria-label="Select an option" [(ngModel)]='b'>
                    <mat-radio-button color="primary" value="0">1 "Lowest" </mat-radio-button>
                    <mat-radio-button color="primary" value="20">2</mat-radio-button>
                    <mat-radio-button color="primary" value="60">3</mat-radio-button>
                    <mat-radio-button color="primary" value="80">4</mat-radio-button>
                    <mat-radio-button color="primary" value="100">5 "Highest"</mat-radio-button>
                </mat-radio-group>
                <br><hr>
                <h2>Learning agility:</h2>
                <mat-radio-group aria-label="Select an option" [(ngModel)]='c'>
                    <mat-radio-button color="primary" value="0">1 "Lowest" </mat-radio-button>
                    <mat-radio-button color="primary" value="20">2</mat-radio-button>
                    <mat-radio-button color="primary" value="60">3</mat-radio-button>
                    <mat-radio-button color="primary" value="80">4</mat-radio-button>
                    <mat-radio-button color="primary" value="100">5 "Highest"</mat-radio-button>
                </mat-radio-group>
                <br><br><br><br>
                <button mat-flat-button color="primary" (click)="submitReview()">Submit Review</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <ng-template #wait>
        <div class="card" style="width: 90%;max-width:400px;margin: 50px auto;padding:100px 20px 20px 20px;position:relative;">
            <h1 class="cardTitle">Wait for next assessment...</h1>
        </div>
    </ng-template>
</section>