<section style="min-height:500px;padding-top:0!important;padding-bottom: 50px">
        
    <mat-grid-list cols='2' *ngIf="show; else wait">
        <mat-grid-tile>
            <div class="card" *ngIf="currentEmp">
                <h2>{{ currentEmp.name }}</h2>
                <mat-list>
                    <mat-list-item>
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>MUD ID</h3>
                        <p matLine>{{ currentEmp.mud_id }} </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>Hiring Date</h3>
                        <p matLine>{{ currentEmp.hiring_date }}</p>
                    </mat-list-item>
                    <mat-list-item *ngIf="currentEmpType == 'mr'">
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>FLSL</h3>
                        <p matLine>{{ currentEmp.flsl }} </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="currentEmpType == 'mr' || currentEmpType == 'flsl'">
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>SLSL</h3>
                        <p matLine>{{ currentEmp.slsl }} </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="currentEmpType == 'sll' || currentEmpType == 'flsl'">
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>SD</h3>
                        <p matLine>{{ currentEmp.sd }} </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="currentEmpType == 'sll'">
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>cm</h3>
                        <p matLine>{{ currentEmp.cm }} </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                        <h3 matLine>Office/City</h3>
                        <p matLine>{{ currentEmp.office }} </p>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card">
                <h3>Fit for the future:</h3>
                <mat-button-toggle-group style="margin-bottom: 50px;" aria-label="Select an option" [(ngModel)]='a'>
                    <mat-button-toggle value="0">1</mat-button-toggle>
                    <mat-button-toggle value="20">2</mat-button-toggle>
                    <mat-button-toggle value="60">3</mat-button-toggle>
                    <mat-button-toggle value="80">4</mat-button-toggle>
                    <mat-button-toggle value="100">5</mat-button-toggle>
                </mat-button-toggle-group>
                <br>
                <h3>Impact on GSK Culture:</h3>
                <mat-button-toggle-group style="margin-bottom: 50px;" aria-label="Select an option" [(ngModel)]='b'>
                    <mat-button-toggle value="0">1</mat-button-toggle>
                    <mat-button-toggle value="20">2</mat-button-toggle>
                    <mat-button-toggle value="60">3</mat-button-toggle>
                    <mat-button-toggle value="80">4</mat-button-toggle>
                    <mat-button-toggle value="100">5</mat-button-toggle>
                </mat-button-toggle-group>
                <br>
                <h3>Learning agility:</h3>
                <mat-button-toggle-group aria-label="Select an option" [(ngModel)]='c'>
                    <mat-button-toggle value="0">1</mat-button-toggle>
                    <mat-button-toggle value="20">2</mat-button-toggle>
                    <mat-button-toggle value="60">3</mat-button-toggle>
                    <mat-button-toggle value="80">4</mat-button-toggle>
                    <mat-button-toggle value="100">5</mat-button-toggle>
                </mat-button-toggle-group>
                <br><br><br><br>
                <button mat-flat-button (click)="submitReview()" color="primary" style="margin-right: 30px;" *ngIf="a && b && c">Submit Review</button> 
                <button mat-stroked-button (click)="skipReviewFN()" color="primary">Skip</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <ng-template #wait>
        <div class="card">
            <h2>Wait for next assessment...</h2>
        </div>
    </ng-template>
</section>