<section style="min-height:500px;padding-top:0!important;padding-bottom: 50px">
        <mat-grid-list cols='2'>
            <mat-grid-tile>
                <div class="card" *ngIf="currentEmp && currentIDs">
                    <h1 style="text-align: center;color: #222;font-size: 50px;font-weight: 100;font-family: 'Roboto', sans-serif;margin-bottom: 20px;">{{ index + 1 }} / {{ currentIDs.length }} </h1>
                    <h2 style="text-align: center;">{{ currentEmp.name }}</h2>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                            <h3 matLine>MUD ID</h3>
                            <p matLine>{{ currentEmp.mud_id }} </p>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                            <h3 matLine>Hiring Date</h3>
                            <p matLine>{{ currentEmp.hiring_date }}</p>
                        </mat-list-item>
                        <mat-list-item *ngIf="currentEmpType == 'mr'">
                            <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                            <h3 matLine>FLSL</h3>
                            <p matLine>{{ currentEmp.flsl }} </p>
                        </mat-list-item>
                        <mat-list-item *ngIf="currentEmpType == 'mr' || currentEmpType == 'flsl'">
                            <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                            <h3 matLine>SLSL</h3>
                            <p matLine>{{ currentEmp.slsl }} </p>
                        </mat-list-item>
                        <mat-list-item *ngIf="currentEmpType == 'sll' || currentEmpType == 'flsl'">
                            <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                            <h3 matLine>SD</h3>
                            <p matLine>{{ currentEmp.sd }} </p>
                        </mat-list-item>
                        <mat-list-item *ngIf="currentEmpType == 'sll'">
                            <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                            <h3 matLine>cm</h3>
                            <p matLine>{{ currentEmp.cm }} </p>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
                            <h3 matLine>Office/City</h3>
                            <p matLine>{{ currentEmp.office }} </p>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="card" style="min-height: 400px;">
                    <h2>Assessors</h2>
                    
                    <mat-toolbar style="margin-bottom: 10px;" *ngFor="let assessor of currentAssessors">
                        <mat-toolbar-row style="color: #333;">
                            <mat-icon class="example-icon" *ngIf="assessor.status == 1">done</mat-icon>
                            <span style="font-weight: 300;">{{ assessor.name }}</span>
                            <span class="example-spacer"></span>
                            <button mat-icon-button><mat-icon class="example-icon" *ngIf="assessor.status == 1" (click)="revoteFN(assessor.assessor_id)">replay</mat-icon></button>
                            <button mat-icon-button><mat-icon class="example-icon" (click)="deleteAssessorFN(assessor.assessor_id)">close</mat-icon></button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    
                    <button mat-flat-button color="primary" (click)="nextEmp()" style="margin-top: 30px;" *ngIf="next">Next</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    
        <ng-template #wait>
            <div class="card" style="width: 90%;max-width:400px;margin: 50px auto;padding:100px 20px 20px 20px;position:relative;">
                <h1 class="cardTitle">Wait for next assessment...</h1>
            </div>
        </ng-template>
    </section>